body{
    margin: 0;
}
.container{
    background-color: rgb(50, 63, 63);
    display: flex;
    height: 40vw;
    width: 40vw;
    justify-content: end;
}
.box1{
    background-color: black;
    height: 20vw;
    width: 20vw;
}