body{
    display: flex;
    justify-content:space-around;
    margin: 0;
    margin-top: 10vw;
}
.container{
    background-color: rgb(60, 76, 76);
    height: 30vw;
    width: 70vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.box{
    background-color: black;
    height: 20vw;
    width: 20vw;
}