body{
    margin: 0px;
}
.box1{
    height: 100px;
    width: 100px;
    background-color: aqua;
    position: absolute;
    
}
.box2{
    position: relative;
    left: 50px;
    top:50px;
    height: 100px;
    width: 100px;
    background-color: black;
}